html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Full screen height */
  background-color: #f4f4f4; /* Light background for better visibility */
}

.login-container {
  width: 400px;
  min-height: 480px; /* Allow expansion instead of a fixed height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center form elements inside */
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Add spacing between form elements */
.login-container > * {
  margin-bottom: 15px; /* Adjust this value as needed */
}

/* Ensure the last element doesn't have margin */
.login-container > *:last-child {
  margin-bottom: 0;
}

/* Style the input field */
.login-container input[type="email"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%; /* Make it full width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin-bottom: 10px; /* Add space below the input */
}

.btn-login button {
  margin-bottom: -20px; /* Add space above the button */
  margin-top: 18px !important;
}

/* Style the button */
.login-container button {
  background-color: #007bff; /* Example blue color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Make it full width */
}

.login-container button:hover {
  background-color: #0056b3;
}

.error-notification {
  color: red;
  margin-bottom: 10px;
  min-height: 20px; /* Reserve space to prevent layout shifts */
  line-height: 0.025vh;
}

.login-logo {
  display: block;
  justify-content: center;
  margin: -40px  auto 15px auto; /* Center the image and reduce space below */
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
  width: 180px;
  height: 60px;
  margin-bottom: 15px;
}

.modal-otp-centered .ant-modal {
  top: 50% !important; /* Center vertically */
  left: 50% !important; /* Center horizontally */
  transform: translate(-50%, -50%) !important; /* Adjust the position to be truly centered */
  max-width: 500px; /* Optional: Set a max-width to prevent the modal from being too wide */
}

@media (max-width: 600px) {
  .login-container {
    width: 100%; /* Make it more responsive */
    padding: 20px;
  }
}
