.attendance-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin-left: 0;
  padding: 0;
  background-color: white !important;
}

.attendance-content {
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.attendance-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.attendance-button {
  white-space: nowrap;
  height: 40px;
  margin-bottom: 4px;
}

.table-wrapper {
  flex-grow: 1;
  overflow-x: auto; /* Enables horizontal scrolling if needed */
}

.attendance-table {
  width: 100%;
}

.ant-table {
  width: 100%;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  text-align: center !important;
  font-weight: 400 !important;
  
}

.attendance-table .ant-table-thead > tr > th {
  background-color: #052769 !important; /* Change to your preferred color */
  color: white !important;
  font-weight:400 !important;
}


/* When sidebar collapses */
.attendance-container.collapsed .attendance-content {
  margin-left: 80px; /* Adjust this value based on your Sidebar collapsed width */
}

.attendance-container.expanded .attendance-content {
  margin-left: 215px; /* Adjust this value based on your Sidebar expanded width */
}

.attendance-tabs {
  margin-bottom: 16px;
}

.attendance-tabs .ant-tabs-tab {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  transition: all 0.3s ease-in-out;
}

.attendance-tabs .ant-tabs-tab:hover {
  color: #1890ff;
}

.attendance-tabs .ant-tabs-tab-active {
  color: #1890ff;
  font-weight: bold;
}

.attendance-tabs .ant-tabs-ink-bar {
  background-color: #1890ff;
}


/* Responsive Adjustments */
@media (max-width: 1024px) {
  .attendance-content {
    padding: 15px;
  }

  .attendance-title {
    font-size: 20px;
  }

  .button-container {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .attendance-container {
    flex-direction: column;
  }

  .attendance-content {
    width: 100%;
    padding: 10px;
  }

  .attendance-title {
    font-size: 18px;
  }

  .attendance-button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .attendance-title {
    font-size: 16px;
  }

  .attendance-button {
    font-size: 12px;
    padding: 5px;
  }
}
