.list-record-container {
  @apply w-screen flex justify-end min-h-screen overflow-y-auto overflow-x-hidden;
}

.list-record-container.expanded .list-dashboard-content,
.list-record-container.collapsed .list-dashboard-content {
  @apply ml-[6vw];
}
.list-attendance-table::before,
.list-attendance-table::after,
.list-attendance-table *::before,
.list-attendance-table *::after {
  display: none !important;
  content: none !important;
  border: none !important;
  box-shadow: none !important;
}

@media (max-width: 1024px) {
  .list-record-container.expanded .list-dashboard-content,
  .list-record-container.collapsed .list-dashboard-content {
    @apply ml-[10vw];
  }
}

@media (max-width: 768px) {
  .list-record-container.expanded .list-dashboard-content,
  .list-record-container.collapsed .list-dashboard-content {
    @apply ml-[3vw];
  }

  .list-header-container {
    @apply flex-col justify-center items-center text-center mt-4 mb-4;
  }

  .list-header-text h2 {
    @apply text-sm;
  }

  .list-header-text p {
    @apply text-xs;
  }

  .list-myt-logo {
    @apply m-0;
  }

  .button-container {
    @apply justify-center mb-0;
  }

  .button-container button {
    @apply w-24 h-10 px-2.5 text-sm;
  }

  .list-title-header {
    @apply text-base mt-0;
  }
}

@media (max-width: 480px) {
  .list-record-container.expanded .list-dashboard-content,
  .list-record-container.collapsed .list-dashboard-content {
    @apply ml-[5vw];
  }

  .button-container {
    @apply justify-center my-2.5;
  }

  .list-table-wrapper {
    @apply max-h-[50vh] mt-4;
  }

  .list-title-header {
    @apply text-sm mt-0;
  }
}

.list-dashboard-content {
  @apply flex flex-col flex-grow p-5 overflow-x-hidden -translate-x-[10px];
}

@media (max-width: 1024px) {
  .list-dashboard-content {
    @apply p-2 m-0;
  }

  .list-table-wrapper {
    @apply max-h-[50vh];
  }

  .list-title-header {
    @apply text-base mt-4 mb-0;
  }
}

.list-header-container {
  @apply flex items-center;
}

.list-header-text h2,
.list-company-name {
  @apply text-base font-bold text-gray-800 mb-0;
}

.list-header-text p,
.list-company-address {
  @apply text-sm font-normal text-gray-800 mb-0;
}

.list-myt-logo {
  @apply w-32 h-auto mr-6 mt-2.5;
}

.list-table-wrapper {
  @apply overflow-auto max-h-[60vh] w-full;
}

.list-title-header {
  @apply text-center text-xl font-bold uppercase mt-8;
}

.button-container {
  @apply flex justify-end mb-2.5 mr-5;
}

.button-container button {
  @apply px-8 h-[42px] py-2.5 text-sm ml-2.5;
}

.list-attendance-table .ant-table {
  @apply w-full table-auto min-w-[700px] text-center border border-gray-300;
}

.list-attendance-table .ant-table-thead > tr > th {
  @apply bg-[#052769] text-gray-100 border border-gray-300 text-center font-normal p-3 align-middle whitespace-normal;
}

.list-attendance-table .ant-table-tbody > tr > td {
  @apply border-b border-gray-200 text-center font-normal p-3 align-middle whitespace-normal;
}

.list-attendance-table .ant-table-tbody > tr:hover > td {
  @apply bg-gray-100;
}
