/* Card-style container */
.otp-container {
  background: #ffff;
  max-width: 480px;
  width: 100%; /* Adjust width for better responsiveness */
  padding: 20px; /* Adjust padding for better spacing */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Center the container */
  min-height: 58vh; /* Ensure full height for better alignment */
  
}

.otp-title {
  font-size: 21px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 57px;
  padding-bottom: 12px;
}

.otp-subtext {
  font-size: 13px;
  color: #999999;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
}

/* OTP Input Group */
.otp-input-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

/* OTP Input Boxes */
.otp-input {
  max-width: 48;
  height: 48px;
  font-size: 24px;
  text-align: center;
  border: .5px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s;
}

.otp-input:focus {
  border-color: #007bff;
}

.verify-otp-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px !important;
}

.verify-otp-button button {
  width: 348px;
  height: 36px;
  text-align: center;
  border-radius: 8px;
}

.otp-verify-btn:hover {
  background-color: #0056b3;
}

.resend-otp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2px !important;
}

.resend-otp-button button {
  width: 348px;
  height: 36px;

  text-align: center;
  border-radius: 8px;
}

.otp-resend-btn:hover {
  border-color: #007bff;
}

.otp-title {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 3px; /* Reduce space below the title */
}

@media (max-width: 400px) {
  .otp-container {
    max-width: 280px; /* Adjust for small screens */
    padding: 20px;
  }

  .otp-input {
    width: 40px;
    height: 45px;
    font-size: 18px;
  }

  .otp-header {
    font-size: 16px;
  }

  .otp-subtext {
    font-size: 12px;
    
  }

  .otp-verify-btn,
  .otp-resend-btn {
    font-size: 13px;
    height: 40px;
  }
}

.verify-otp-button {
  margin-bottom: 8px; /* Adjust this value as needed */
  margin-top: 10px;
}

.resend-otp-button {
  margin-top: 0; /* Ensure there's no top margin */
}